﻿@{
    ViewBag.Title = "Contact";
}
<div class="contact">
    <div class="container">
        <h1>Iletişim</h1>

        <div class="contact-grids">
            <div class="contact-form">
                <form>
                    <div class="contact-bottom">
                        <div class="col-md-4 in-contact">
                            <span>İsim</span>
                            <input type="text">
                        </div>
                        <div class="col-md-4 in-contact">
                            <span>Eposta</span>
                            <input type="text">
                        </div>
                        <div class="col-md-4 in-contact">
                            <span>Tel No</span>
                            <input type="text">
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="contact-bottom-top">
                        <span>Mesaj</span>
                        <textarea> </textarea>
                    </div>
                    <input type="submit" value="GÖNDER">
                </form>
            </div>
            <div class="address">
                <div class=" address-more">
                    <h2>Adres</h2>
                    <div class="col-md-4 address-grid">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <div class="address1">
                            <p>Lorem ipsum dolor</p>
                            <p>TL 19034-88974</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 address-grid ">
                        <i class="glyphicon glyphicon-phone"></i>
                        <div class="address1">
                            <p>+885699655</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 address-grid ">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div class="address1">
                            <p><a href="mailto:example.com">example.com</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>