﻿
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("GirisYardimci", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();

    <div class="account">
        <div class="container">
            <h1>Account</h1>
            <div class="account_grid">
                <div class="col-md-6 login-right">
                    <form>

                        <span for="KullaniciAdi" >Kullanıcı Adı</span>
                        <input type="text" name="KullaniciAdi" placeholder="Kullanıcı Adı"/>

                        <span for="KullaniciAdi">Şifre</span>
                        <input type="text" data-val="true" data-val-required="Password alanı gereklidir." name="Sifre" placeholder="Şifre"/>
                        <div class="word-in">
                            <a class="forgot" href="#">Forgot Your Password?</a>
                            <input type="submit" value="GİRİŞ">
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-left">
                    <h4>YENİ ÜYE</h4>
                    <p>Yeni bir hesap oluşturarak kuralları ve anlaşmayı kabul etmiş olursunuz!</p>
                    <a class="acount-btn" href="Kayit">Hesap Oluştur</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
}