﻿@model IEnumerable<Web.DAL.Urunler>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="~/Content/images/ba1.jpg" alt="">
    </div>
    <div class="col-sm-6 matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="~/Content/images/1.jpg" alt="">
                    </li>
                    <li>
                        <img src="~/Content/images/2.jpg" alt="">
                    </li>
                    <li>
                        <img src="~/Content/images/1.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="~/Content/images/ba.jpg" alt="">
    </div>
    <div class="clearfix"> </div>
</div>

<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>En Yeni Ürünler</h1>
            <div class="content-top1">
            @foreach (var item in Model.Where(o => o.Kategori_ID == 1))
            {

                using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <input name="BirimFiyat" type="hidden" value="@item.Fiyat" />
                    <input name="Urun_ID" type="hidden" value="@item.Urun_ID" />
                    <div class="col-md-3 col-md2">
                        <div class="col-md1 simpleCart_shelfItem">
                            <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">
                                <img class="img-responsive" src="~/Content/images/@Html.DisplayFor(modelItem => item.Urun_resim)" alt="" />
                            </a>
                            <h3><a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">@Html.DisplayFor(modelItem => item.Urun_adi)</a></h3>
                            <div class="price">
                                <h5 class="item_price" name ="BirimFiyat">₺@Html.DisplayFor(modelItem => item.Fiyat)</h5>
                                @if (Session["giris"] != null) { 
                                    <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                                }
                                else
                                {
                                    <a href="@Url.Action("Giris","Home")" class="item_add">Sepete Ekle</a>
                                }
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                }
            }
                <div class="clearfix"> </div>
            </div>

            <div class="content-top1">
            @foreach (var item in Model.Where(o => o.Kategori_ID == 2))
            {
                using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <input name="BirimFiyat" type="hidden" value="@item.Fiyat" />
                    <input name="Urun_ID" type="hidden" value="@item.Urun_ID" />
                    <div class="col-md-3 col-md2">
                        <div class="col-md1 simpleCart_shelfItem">
                            <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">
                                <img class="img-responsive" src="~/Content/images/@Html.DisplayFor(modelItem => item.Urun_resim)" alt="" />
                            </a>
                            <h3><a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">@Html.DisplayFor(modelItem => item.Urun_adi)</a></h3>
                            <div class="price">
                                <h5 class="item_price" name="BirimFiyat">₺@Html.DisplayFor(modelItem => item.Fiyat)</h5>
                                @if (Session["giris"] != null)
                                {
                                    <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                                }
                                else
                                {
                                    <a href="@Url.Action("Giris","Home")" class="item_add">Sepete Ekle</a>
                                }
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                 }
             }
             <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>