﻿
@{
    ViewBag.Title = "Kaydol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydol", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken();

    <div class="container">
	    <div class="register">
		    <h1>Kayıt Ol</h1>
                <form>
                    <div class="col-md-6  register-top-grid">

                        <div class="mation">
                        
                            <span for="Ad">Adınız</span>
                            <input type="text" name="Ad">

                            <span for="Soyad">Soyadınız</span>
                            <input type="text" name="Soyad">

                            <span for="Eposta"> Eposta</span>
                            <input type="text" data-val="true" name="Eposta">

                            <span for="DogumTarihi"> Doğum Tarihi</span>
                            <input type="text" id="datepicker" data-val="true" name="DogumTarihi">
                            
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" col-md-6 register-bottom-grid">

                    <div class="mation">
                        
                        <span for="KullaniciAdi">Kullanıcı Adı</span>
                        <input type="text" name="Kullanici_adi">
                        <span for="Sifre"> Şifre</span>
                        <input type="text" data-val="true" data-val-required="Password alanı gereklidir." name="Kullanici_Sifre">
                        <span for="Telefon">Telefon</span>
                        <input type="text" data-val="true" name="Telefon">
                        <span for="Adres">Adres</span>
                        <input type="text" data-val="true" name="Adres">
                           
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <input type="submit" class="class="btn btn-sm btn-primary" value="KAYDOL">
                    <div class="clearfix"> </div>
                </div> 
            </form>
            
	    </div>
    </div>


}

