﻿@model List<Web.DAL.Sepet>

@{
    ViewBag.Title = "Sepet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    /*<!--<input name="SepetID" type="hidden" value="@item.Sepet_ID" />
                    <input name="sepetadet" type="hidden" value="@item.sepet_adet" />
                    <input name="sepettutar" type="hidden" value="@item.sepet_tutar" />
                    <input name="UrunID" type="hidden" value="@item.Urun_ID" />-->*/
}
@using (Html.BeginForm())
{

<div class="container">
    <div class="check-out">
        <h1>Sepettekiler</h1>
        <table>
            <tr>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Ulaştırma Detayı</th>
                <th>Aratoplam</th>
            </tr>

            @foreach (var item in Model)
            {
                <input name="KullaniciId" type="hidden" value="@item.Kullanici_ID" />
                <tr>
                <td class="ring-in">
                    <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})" class="at-in"><img src="~/Content/images/@Html.DisplayFor(modelItem => item.Urunler.Urun_resim)" class="img-responsive"></a>
                    <div class="sed">
                        <h5>@Html.DisplayFor(modelItem => item.Urunler.Urun_adi)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Urunler.Urun_detay)</p>

                    </div>
                    <div class="clearfix"> </div>
                </td>
                <td>@Html.DisplayFor(modelItem => item.sepet_adet)</td>
                <td>@Html.DisplayFor(modelItem => item.Urunler.Fiyat)</td>
                <td>FREE SHIPPING</td>
                <td>@Html.DisplayFor(modelItem => item.Urunler.Fiyat)</td>
                </tr>
          }
        </table>
        <input type="submit"  value="SEPETİ ONAYLA"/>
        <div class="clearfix"> </div>
    </div>
</div>
}