﻿@model Web.DAL.Urunler
@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <input name="BirimFiyat" type="hidden" value="@Model.Fiyat" />
    <input name="Urun_ID" type="hidden" value="@Model.Urun_ID" />
    <div class="single">
        <div class="container">
            <div class="col-md-9">
                <div class="col-md-5 grid">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="images/si.jpg">
                                <div class="thumb-image"> <img src="~/Content/images/@Html.DisplayFor(modelItem => Model.Urun_resim)" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 single-top-in">
                    <div class="single-para simpleCart_shelfItem">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        <div class="star-on">
                            <ul>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                            </ul>
                            <div class="review">
                                <a href="#"> 3 Yorum </a>/
                                <a href="#"> Bir yorum yaz</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <label class="add-to item_price">₺@Html.DisplayFor(modelItem => Model.Fiyat)</label>
                        @if (Session["giris"] != null)
                        {
                            <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                        }
                        else
                        {
                            <a href="@Url.Action("Giris", "Home")" class="item_add">Sepete Ekle</a>
                        }
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="clearfix"> </div>
                </div>
            </div>
    </div>
}