﻿@model IEnumerable<Web.DAL.Urunler>
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products">
    <div class="container">
        <h1>Products</h1>
        <div class="col-md-9">
            <div class="content-top1">
                @foreach (var item in Model.Where(o => o.Kategori_ID == 1))
            {

                using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        <input name="BirimFiyat" type="hidden" value="@item.Fiyat" />
                        <input name="Urun_ID" type="hidden" value="@item.Urun_ID" />
                        <div class="col-md-3 col-md2">
                            <div class="col-md1 simpleCart_shelfItem">
                                <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">
                                    <img class="img-responsive" src="~/Content/images/@Html.DisplayFor(modelItem => item.Urun_resim)" alt="" />
                                </a>
                                <h3><a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">@Html.DisplayFor(modelItem => item.Urun_adi)</a></h3>
                                <div class="price">
                                    <h5 class="item_price" name="BirimFiyat">₺@Html.DisplayFor(modelItem => item.Fiyat)</h5>
                                    @if (Session["giris"] != null)
                                    {
                                        <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Giris","Home")" class="item_add">Sepete Ekle</a>
                                    }
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
            <div class="content-top1">
                @foreach (var item in Model.Where(o => o.Kategori_ID == 2))
            {

                using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        <input name="BirimFiyat" type="hidden" value="@item.Fiyat" />
                        <input name="Urun_ID" type="hidden" value="@item.Urun_ID" />
                        <div class="col-md-3 col-md2">
                            <div class="col-md1 simpleCart_shelfItem">
                                <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">
                                    <img class="img-responsive" src="~/Content/images/@Html.DisplayFor(modelItem => item.Urun_resim)" alt="" />
                                </a>
                                <h3><a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">@Html.DisplayFor(modelItem => item.Urun_adi)</a></h3>
                                <div class="price">
                                    <h5 class="item_price" name="BirimFiyat">₺@Html.DisplayFor(modelItem => item.Fiyat)</h5>
                                    @if (Session["giris"] != null)
                                    {
                                        <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Giris","Home")" class="item_add">Sepete Ekle</a>
                                    }
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
            <div class="content-top1">
                @foreach (var item in Model.Where(o => o.Kategori_ID == 1))
            {

                using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        <input name="BirimFiyat" type="hidden" value="@item.Fiyat" />
                        <input name="Urun_ID" type="hidden" value="@item.Urun_ID" />
                        <div class="col-md-3 col-md2">
                            <div class="col-md1 simpleCart_shelfItem">
                                <a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">
                                    <img class="img-responsive" src="~/Content/images/@Html.DisplayFor(modelItem => item.Urun_resim)" alt="" />
                                </a>
                                <h3><a href="@Url.Action("Urun", "Home", new { urunId = item.Urun_ID})">@Html.DisplayFor(modelItem => item.Urun_adi)</a></h3>
                                <div class="price">
                                    <h5 class="item_price" name="BirimFiyat">₺@Html.DisplayFor(modelItem => item.Fiyat)</h5>
                                    @if (Session["giris"] != null)
                                    {
                                        <input type="submit" class="btn btn-sm btn-primary" value="Sepete Ekle" />
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Giris","Home")" class="item_add">Sepete Ekle</a>
                                    }
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 product-bottom">
            <!--categories-->
            <div class=" rsidebar span_1_of_left">
                <h3 class="cate">Categories</h3>
                <ul class="menu-drop">
                    <li class="item1">
                        <a href="#">Men </a>
                        <ul class="cute">
                            <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                            <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                            <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                        </ul>
                    </li>
                    <li class="item2">
                        <a href="#">Women </a>
                        <ul class="cute">
                            <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                            <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                            <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                        </ul>
                    </li>
                    <li class="item3">
                        <a href="#">Kids</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                            <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                            <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                        </ul>
                    </li>
                    <li class="item4">
                        <a href="#">Accesories</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                            <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                            <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                        </ul>
                    </li>

                    <li class="item4">
                        <a href="#">Shoes</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                            <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                            <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });

							});
            </script>
            <!--//menu-->
            <!--seller-->
            
            <!--//seller-->
            <!--tag-->
            <div class="tag">
                <h3 class="cate">Tags</h3>
                <div class="tags">
                    <ul>
                        <li><a href="#">design</a></li>
                        <li><a href="#">fashion</a></li>
                        <li><a href="#">lorem</a></li>
                        <li><a href="#">dress</a></li>
                        <li><a href="#">fashion</a></li>
                        <li><a href="#">dress</a></li>
                        <li><a href="#">design</a></li>
                        <li><a href="#">dress</a></li>
                        <li><a href="#">design</a></li>
                        <li><a href="#">fashion</a></li>
                        <li><a href="#">lorem</a></li>
                        <li><a href="#">dress</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

