﻿<!DOCTYPE html>
<html>
<head>
    <title>Fashion Mania</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <!-- slide -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
    </script>

</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="col-sm-4 world">
                <ul>
                    <li>
                        <select class="in-drop">
                            <option>Türkçe</option>
                            <option>İngilizce</option>
                        </select>
                    </li>
                    <li>
                        <select class="in-drop1">
                            <option>Lira</option>
                            <option>Euro</option>
                            <option>Dolar</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 logo">
                <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt=""></a>
            </div>

            <div class="col-sm-4 header-left">
                <p class="log">
            @if (Session["giris"] != null)
            {
                <a href=#>@Session["kad"].ToString()</a>
                <a href="@Url.Action("Giris","Home")" @Session["giris"] != null>Çıkış</a>
            }
            else
            {
                 <a href="@Url.Action("Giris","Home")">Giriş</a>
                 <span>/</span><a href="@Url.Action("Kaydol","Home")">Kayıt Ol</a>
            }
                </p>
                @if (Session["giris"] != null)
                {
                    <div class="cart box_1">
                        <a href="@Url.Action("Sepet","Home")">
                            <h3>
                                <div class="total">
                                    <span>₺@Session["sepetToplam"]</span>
                                </div>
                                <img src="~/Content/images/cart.png" alt="" />
                            </h3>
                        </a>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="col-sm-2 number">
                <span><i class="glyphicon glyphicon-phone"></i>0850 596 2234</span>
            </div>
            <div class="col-sm-8 h_menu4">
                <ul class="memenu skyblue">
                    @if (Convert.ToInt32(HttpContext.Current.Session["kid"]) != 1)
                    {
                    <li class=" grid"><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
                    <li>
                        <a href="#">Erkek</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Hepsi</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Gömlekler</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Spor Giyim</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Şortlar</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Footwear</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Resmi Ayakkabılar</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Botlar</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Spor Ayakkabılar</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Günlük Ayakkabılar</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popüler Markalar</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Levis</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Persol</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Nike</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid">
                        <a href="#">	Kadın</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Hepsi</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Gömlekler</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Spor Giyim</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Takım & Blazer</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Footwear</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Topuklular</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Düz</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Spor Ayakkabılar</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popülar Markalar</h4>
                                        <ul>
                                            <li><a href="@Url.Action("Urunler", "Home")">Levis</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Persol</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Nike</a></li>
                                            <li><a href="@Url.Action("Urunler", "Home")">Edwin</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color6" href="@Url.Action("Contact", "Home")">İletişim</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Kullanıcı Kontrol", "Kullanici", "Admin")</li>
                        <li>@Html.ActionLink("Urunler Kontrol", "Urunler", "Admin")</li>
                    }
                </ul>
            </div>
            <div class="col-sm-2 search">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
            </div>
            <div class="clearfix"> </div>
            <!---pop-up-box---->
            <script type="text/javascript" src="~/Content/js/modernizr.custom.min.js"></script>
            <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
            <script src="~/Content/js/jquery.magnific-popup.js" type="text/javascript"></script>
            <!---//pop-up-box---->
            <div id="small-dialog" class="mfp-hide">
                <div class="search-top">
                    <div class="login">
                        <input type="submit" value="">
                        <input type="text" value="Birşeyler yaz..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                    </div>
                    <p>Alışveris</p>
                </div>
            </div>
            <script>
					$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
						type: 'inline',
						fixedContentPos: false,
						fixedBgPos: true,
						overflowY: 'auto',
						closeBtnInside: true,
						preloader: false,
						midClick: true,
						removalDelay: 300,
						mainClass: 'my-mfp-zoom-in'
					});

					});
            </script>
            <!---->
        </div>
    </div>
</div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-8 top-footer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.91163207516!2d2.3470599!3d48.85885894999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2sin!4v1436340519910" allowfullscreen=""></iframe>
                </div>
                <div class="col-md-4 top-footer1">
                    <h2>Bizden haberdar olun.</h2>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="ABONE OL">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>Kategoriler</h6>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>En Popüler</h6>
                    <ul>
                        <li><a href="#">Curabitur sapien</a></li>
                        <li><a href="#">Dignissim purus</a></li>
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>En Yeniler</h6>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate cate-bottom">
                    <h6>Adres</h6>
                    <ul>
                        <li>Aliquam metus  dui. </li>
                        <li>orci, ornareidquet</li>
                        <li> ut,DUI.</li>
                        <li>nisi, dignissim</li>
                        <li>gravida at.</li>
                        <li class="phone">PH : 6985792466</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <p class="footer-class"> © 2016 Fashion Mania.</p>
            </div>
        </div>
    </div>
</body>
</html>
