﻿@model IEnumerable<Web.DAL.Kullanici>

@{
    ViewBag.Title = "Kullanici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h2>Kullanıcılar </h2>
        </div>
    </div>
    <p>
        @Html.ActionLink("Yeni oluştur", "KullaniciEkle")
    </p>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Kullanıcı ID </th>
                            <th class="col-md-1">Ad </th>
                            <th class="col-md-1">Soyad</th>
                            <th class="col-md-1">Dogum Tarihi</th>
                            <th class="col-md-1">E-posta</th>
                            <th class="col-md-1">Kullanıcı Adı</th>
                            <th class="col-md-1">Şifre</th>
                            <th class="col-md-1">Telefon</th>
                            <th class="col-md-1">Adres</th>
                            <th class="col-md-1">İl adı</th>
                            <th class="col-md-2"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Kullanici_ID</td>
                                <td>@item.Ad</td>
                                <td>@item.Soyad</td>
                                <td>@item.Dogum_Tarihi</td>
                                <td>@item.Eposta</td>
                                <td>@item.Kullanici_adi</td>
                                <td>@item.Kullanici_Sifre</td>
                                <td>@item.Telefon</td>
                                <td>@item.Adres</td>
                                <td>@item.il_ad</td>

                                <td>
                                    @Html.ActionLink("Düzenle", "KullaniciDuzenle", new { id = item.Kullanici_ID }) |

                                    @Html.ActionLink("Sil", "KullaniciSil", new { id = item.Kullanici_ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>