﻿@model Web.DAL.Kullanici

@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Ekle</h2>
<link href="~/assets/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("KullaniciEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Adı</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Soyad</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Doğum Tarihi</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Dogum_Tarihi, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Eposta</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Eposta, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Kullanıcı Adı</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Kullanici_adi, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Şifre</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Kullanici_Sifre, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Telefon</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Adres</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Adres, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">İl</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.il_ad, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BitisTarih").datepicker('setDate', new Date());
        $("#BaslangicTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BaslangicTarih").datepicker('setDate', new Date());
    });
</script>
