﻿@model Web.DAL.Urunler

@{
    ViewBag.Title = "UrunDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Urun Düzenle</h2>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("UrunDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Urun_ID)
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            @if (Model.Urun_resim == null)
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" />
                            }
                            else
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/veggie/@Html.DisplayFor(m => m.Urun_resim)" alt="" />
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Fotoğraf</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Ürün Adı</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Urun_adi, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Ürün detay</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Urun_detay, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Fiyat</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Kategori (1-MasaÜstü 2-Dizüstü 3-Tablet)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Kategori_ID, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Barcode Numarası</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Barcode_Num, new { @class = "form-control", style = "width:250px;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
        $("#BaslangicTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
    });
</script>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>