﻿@model IEnumerable<Web.DAL.Urunler>

@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="margin-top:145px;margin-left:10px;">
    @Html.ActionLink("Ürün Ekle", "UrunEkle")
</p>

<div class="panel-body">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">@Html.DisplayNameFor(model => model.Urun_resim)</th>
                        <th class="col-md-1">@Html.DisplayNameFor(model => model.Urun_adi)</th>
                        <th class="col-md-2">@Html.DisplayNameFor(model => model.Urun_detay)</th>
                        <th class="col-md-2">@Html.DisplayNameFor(model => model.Fiyat)</th>
                        <th class="col-md-2">@Html.DisplayNameFor(model => model.Kategori.Kategori_ad)</th>
                        <th class="col-md-2">@Html.DisplayNameFor(model => model.Barcode_Num)</th>

                        <th class="col-md-2"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.Urun_resim == null)
                            {
                                <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                            }
                            else
                            {
                                <td>
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/veggie/@Html.DisplayFor(modelItem => item.Urun_resim)" />
                                </td>
                            }
                            <td>@item.Urun_adi</td>
                            <td>@item.Urun_detay</td>
                            <td>@item.Fiyat</td>
                            <td>@item.Kategori.Kategori_ad</td>
                            <td>@item.Barcode_Num</td>
                            <td>
                                @Html.ActionLink("Düzenle", "UrunDuzenle", new { id = item.Urun_ID }) |

                                @Html.ActionLink("Sil", "UrunSil", new { id = item.Urun_ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
