﻿@model Web.DAL.Urunler

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:30px;">Yeni Ürün</h2>
<link href="~/assets/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("UrunEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Fotoğraf</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Ürün Adı</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Urun_adi, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Ürün detay</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Urun_detay, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Birim Fiyat</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Kategori (1-Masaüstü 2-Dizüstü 3- Tablet)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Kategori_ID, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Barcode Numarası</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Barcode_Num, new { @class = "form-control", style = "width:250px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BitisTarih").datepicker('setDate', new Date());
        $("#BaslangicTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BaslangicTarih").datepicker('setDate', new Date());
    });
</script>
